.order-divider td {
  border-bottom: 3px solid #d00606; /* thick blue line between groups */
  padding: 0;
}
.table-container .btn-remove {
  background-color: #d00606;
  color: white;
  font-size: 22px;
  width: 30px;
  height: 30px;
  border: #d00606;
  border-radius: 5px;
}
.table-container .btn-insert {
  background-color: #01aa1d;
  color: white;
  font-size: 22px;
  width: 30px;
  height: 30px;
  border: #01aa1d;
  border-radius: 5px;
}
.table-container button:hover {
cursor: pointer;
transform: scale(1.04);
}